= simple_form_for @collection, html: { class: "form-horizontal", role: "form" } do |f|
  -if @collection.errors.any?
    .alert.alert-danger.alert-dismissable{role: "alert"}
      %button.close{type: "button", data: {dismiss: "alert"} }
        %span{aria: {hidden: "true"} } &times;
        %span.sr-only Close
      %h4= "#{pluralize(@collection.errors.count, "error")} prohibited this collection from being saved:"

      %ul
        - @collection.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    .row
      .col-sm-offset-2.col-sm-10
        = f.label :name, class: 'control-label'
        = f.text_field :name, class: 'form-control'
      .col-sm-offset-2.col-sm-10
        = f.label :tags, class: 'control-label'
        = f.text_field :tags, class: 'form-control'
      .col-sm-offset-2.col-sm-10
        = f.label :contrains, class: 'control-label'
        = f.text_area :contains, class: 'form-control'
    .row
      .col-sm-offset-2.col-sm-10
        = f.submit class: 'btn btn-primary'
