.panel.panel-default
  .panel-heading
    .row
      .col-md-8
        %h2 Collection list
      .col-md-4
        .pull-right
          = link_to new_collection_path, class: 'btn btn-primary' do
            %span.glyphicon.glyphicon-plus
            New collection
  .panel-body
    .table-responsive
      %table.table.table-striped.table-bordered{id: "data_table"}
        %thead
          %tr
            %th Name
            %th Contains
            %th Tags
            %th
        %tbody
          - @collections.each do |collection|
            %tr
              %td= link_to collection.name, collection
              %td= collection.contains
              %td= collection.tags
              %td
                -if policy(collection).update?
                  - if collection.public
                    = link_to 'Hide', hide_collection_path(collection), method: :post
                  - else
                    = link_to 'Public', public_collection_path(collection), method: :post
                  = link_to 'Edit', edit_collection_path(collection)
                  = link_to 'Destroy', collection, data: { confirm: 'Are you sure?' }, method: :delete
:javascript
  $(document).ready(function(){
    $("#data_table").DataTable({
      "order": [[ 0, "desc" ]]
    });
  });
