.panel.panel-default
  .panel-heading
    .row
      .col-md-8
        %h2
          Collection:
          =@collection.name
      .col-md-4
        .pull-right
          - if current_user.collections.include?(@collection)
            - if @collection.public
              = link_to 'Hide', hide_collection_path(@collection), method: :post, class: 'btn btn-primary'
            - else
              = link_to 'Public', public_collection_path(@collection), method: :post, class: 'btn btn-primary'
            = link_to edit_collection_path(@collection), class: 'btn btn-primary' do
              %span.glyphicon.glyphicon-pencil
              Edit
            = link_to new_item_path(collection_id: @collection.id), class: 'btn btn-primary' do
              %span.glyphicon.glyphicon-plus
              Add items
  .panel-body
    .row
      .col-md-5.text-center
        %h3 Contrains:
        = @collection.contains
      .col-md-5.text-center
        %h3 Tags:
        = @collection.tags
    .row.col-md-10.col-md-offset-1
      .row
        .col-md-8
          %h2 Items:
      .row
        %table.table.table-striped.table-bordered{id: 'data_table'}
          %thead
            %tr
              %th Name
              %th Description
              %th Year
              %th Actions

          %tbody
            - @items.each do |item|
              %tr
                %td= item.name
                %td= item.description
                %td= item.year
                %td
                  = link_to 'Show', item
                  - if policy(item).update?
                    = link_to 'Edit', edit_item_path(@collection)
                    = link_to 'Destroy', item, data: { confirm: 'Are you sure?' }, method: :delete

:javascript
  $(document).ready(function(){
    $("#data_table").DataTable({
      "order": [[ 0, "desc" ]]
    });
  });


