.panel.panel-default
  .panel-heading
    = link_to offers_path, class: 'btn btn-default' do
      %span.glyphicon.glyphicon-list-alt
      Back
    %h2= "User #{@user.nickname} details"
  .panel-body
    .col-md-offset-1
      .row
        %h4 Email:
        = @user.email
      .row
        %h4 Name
        = @user.full_name
      .row
        %h4 Address
        = @user.full_address
      .row
        %h4 Collections:
        -@user.collections.each do |collection|
          = link_to collection.name, collection_path(collection)
          %br
