.panel
  .panel-info
    .panel-heading
      %strong
        = comment.user.nickname
        %span.text-muted= time_ago_in_words(comment.created_at.to_datetime)
    .panel-body
      = comment.comment
