.panel.panel-default
  .panel-heading
    .row
      .col-md-12
        %h2 Offers
  .panel-body
    .row
      .col-md-12
        %h3 Offers you have made
        .table-responsive
          %table.table.table-striped.table-bordered{id: 'data_table'}
            %thead
              %tr
                %th Seller
                %th Item name
                %th Description
                %th Status
                %th
            %tbody
              - @to_buy.each do |offer|
                %tr
                  %td= link_to offer.seller.nickname, profile_path(offer.seller)
                  %td= offer.item.name
                  %td= offer.description
                  %td= offer.status
                  %td= link_to 'Show', offer
    .row
      .col-md-12
        %h3 Offers for you
        .table-responsive
          %table.table.table-striped.table-bordered{id: 'data_table_two'}
            %thead
              %tr
                %th Requester
                %th Item name
                %th Description
                %th
            %tbody
              - @to_sell.each do |offer|
                %tr
                  %td= link_to offer.buyer.nickname, profile_path(offer.buyer)
                  %td= offer.item.name
                  %td= offer.description
                  %td
                    - if offer.finished?
                      = offer.status
                    - else
                      = link_to 'Show', offer
                      = link_to 'Accept', accept_offer_path(offer.id), method: :post
                      = link_to 'Reject', reject_offer_path(offer.id), method: :post
:javascript
  $(document).ready(function(){
    $("#data_table").DataTable({
      "order": [[ 0, "desc" ]]
    });
  });
  $(document).ready(function(){
    $("#data_table_two").DataTable({
      "order": [[ 0, "desc" ]]
    });
  });
