.panel.panel-default
  .panel-heading
    .row
      .col-md-12
        %h2= "Item: #{@offer.item.name}"
  .panel-body
    .row
      .col-md-12
        %h3= "Description: #{@offer.description}"
        %p= "Buyer: #{@offer.seller.nickname}"
        %p= "Seller: #{@offer.seller.nickname}"
        - if @offer.seller == current_user
          - if @offer.finished?
            = @offer.status
          - else
            = link_to 'Accept', accept_offer_path(@offer.id), method: :post
            = link_to 'Reject', reject_offer_path(@offer.id), method: :pos

        %h3 #{ Comment.model_name.human }:
        .box-comment
          - if @comments.any?
            - @comments.by_created_time.each do |comment|
              = render comment
        = form_for @comment, url: comments_path, method: :post do |f|
          .row
            .col-xs-8.col-sm-8.col-lg-8
              .form-group
                = f.text_area :comment, placeholder: 'comment', size: '8x2', class: 'form-control comment-comment'
                = f.hidden_field :commentable_id, value: @offer.id
                = f.hidden_field :commentable_type, value: @offer.class.name
            .col-xs-4.col-sm-4.col-lg-4
              = f.submit 'Add', class: 'btn btn-primary btn-lg add-comment-button'
