= simple_form_for @item, html: { class: "form-horizontal", role: "form" } do |f|
  -if @item.errors.any?
    .alert.alert-danger.alert-dismissable{role: "alert"}
      %button.close{type: "button", data: {dismiss: "alert"} }
        %span{aria: {hidden: "true"} } &times;
        %span.sr-only Close
      %h4= "#{pluralize(@item.errors.count, "error")} prohibited this item from being saved:"

      %ul
        - @item.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    .col-sm-offset-2.col-sm-10
      = f.input :collection_id, :as => :hidden, :input_html => { value: @collection.id}
      = f.input :name, input_html: { class: 'form-control'}
      = f.input :description, input_html: { class: 'form-control'}
      = f.input :tags, as: :string, input_html: { class: 'form-control'}
      = f.input :year, as: :integer, input_html: { class: 'form-control'}
      = f.input :country, input_html: { class: 'form-control'}
      = image_tag @item.image.url, size: "300x300"
      = f.input :image, as: :file, input_html: { class: 'form-control'}
      = f.button :submit, "Save", class: "btn btn-primary"
