.panel.panel-default
  .panel-heading
    .row
      .col-md-8
        %h1 Edit item
      .col-md-4
        .pull-right
          = link_to @item, class: 'btn btn-primary' do
            %span.glyphicon.glyphicon-info-sign
            Show
  .panel-body
    .row
      .col-md-8.col-md-offset-2
        = render 'form'
