.panel.panel-default
  .panel-heading
    .row
      .col-md-8
        %h2= @item.name
      .col-md-4
        .pull-right
          -if policy(@item).update?
            = link_to edit_item_path(@item), class: 'btn btn-primary' do
              %span.glyphicon.glyphicon-pencil
              Edit
          -else
            %button.btn.btn-primary.btn-lg{"data-target" => "#offerModal", "data-toggle" => "modal", :type => "button"}
              Make an offer
            #offerModal.modal.fade{"aria-labelledby" => "offerModalLabel", :role => "dialog", :tabindex => "-1"}
              .modal-dialog{:role => "document"}
                .modal-content
                  .modal-header
                    %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                      %span{"aria-hidden" => "true"} ×
                    %h4#offerModalLabel.modal-title Make an offer
                  .modal-body
                    = form_for @offer do |o|
                      = o.hidden_field :item_id, value: @item.id
                      = o.text_area :description, placeholder: 'Description', class: 'form-control'
                      = o.submit 'Send', class: 'form-control'
                  .modal-footer
                    %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
  .panel-body
    .row
      .col-md-6
        %h3= "Description: #{@item.description}"
        %h4= "Collection: #{@item.collection.name}"
        %p= "Year: #{@item.year}"
        %p= "Tags: #{@item.tags}"
        %p= "Country: #{@country_name}"
      .col-md-6
        = image_tag @item.image.url, :size => "250x250"

:javascript
  $( document ).ready(function() {
    $('#offerModal').on('shown.bs.modal', function () {
      $('#offerModal').focus()
    })
  });

