- if current_user
  %li= link_to 'All Collections', collections_path
  %li= link_to 'My Collections', collections_path(user_id: current_user)
  %li= link_to "Mailbox (#{@unread})", offers_path
  %li= link_to 'Edit profile', edit_user_registration_path
  - if current_user.admin?
    %li= link_to 'Admin', rails_admin_path
  %li= link_to 'Sign out', destroy_user_session_path, :method=>'delete'
- else
  %li= link_to 'Sign in ', new_user_session_path
  %li= link_to 'Sign up', new_user_registration_path
