!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Collectionus'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Collectionus'}"}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body.layout-boxed
    %header
      = render 'layouts/navigation'
    #main-container.container
      .row
        #content.col-md-12
          %main{role: 'main'}
            = render 'layouts/messages'
            = yield
